<link rel="stylesheet" href="https://unpkg.com/easymde@{{version}}/dist/easymde.min.css">
<script src="https://unpkg.com/easymde@{{version}}/dist/easymde.min.js"></script>

<script>
    function toggleFontAwesomeParameter() {
        const url = new URL(window.location.href);
        const usingFA4 = Boolean({{#if useFA4}}1{{else}}0{{/if}});
        if (usingFA4) {
            url.searchParams.delete('fa4');
        } else {
            url.searchParams.set('fa4', 'true');
        }
        window.location.href = url;
    }

    function toggleNextVersion() {
        const url = new URL(window.location.href);
        if (url.pathname.includes('next')) {
            url.pathname = '/';
        } else {
            url.pathname = '/next';
        }
        window.location.href = url;
    }
</script>

<div class="jumbotron">
    <div class="container">
        <div class="title-grid">
            <h1 class="display-4 flex-grow-1">Easy MarkDown Editor</h1>
            <h1 class="display-4 flex-grow-1">v{{version}}</h1>
        </div>

        <p class="lead">A simple, beautiful, and embeddable JavaScript Markdown editor. Delightful editing for beginners and experts alike.
            Features built-in autosaving and spell checking.</p>
        <p>A fork of <a href="https://github.com/sparksuite/simplemde-markdown-editor" target="_blank">SimpleMDE</a></p>
        <hr class="my-4">
        <div class="lead d-flex flex-wrap justify-content-between">
            <div>
                <p>Links</p>
                <a class="btn btn-lg btn-dark button-github" href="https://github.com/Ionaru/easy-markdown-editor" target="_blank">
                    <i class="{{#if useFA4}}fa{{else}}fab{{/if}} fa-github"></i> GitHub
                </a>
                <a class="btn btn-lg btn-danger button-npm" href="https://www.npmjs.com/package/easymde" target="_blank">
                    <i class="{{#if useFA4}}fa fa-archive{{else}}fas fa-box{{/if}}"></i> NPM
                </a>
            </div>
            <div>
                <p class="settings-title">Settings</p>
                <button class="btn btn-lg" onclick="toggleFontAwesomeParameter()">
                    <i class="{{#if useFA4}}fa{{else}}fab{{/if}} fa-font-awesome"></i> FontAwesome {{#if useFA4}}4{{else}}5{{/if}}
                </button>
                <button class="btn btn-lg" onclick="toggleNextVersion()">
                    <i class="{{#if useFA4}}fa{{else}}fas{{/if}} fa-tag"></i> {{#if onReleaseVersion}}Latest{{else}}Next{{/if}}
                </button>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <h2>The default editor</h2>
    <label for="mde-demo">The editor with standard settings.</label>
    <textarea id="mde-demo"></textarea>
    <pre><code class="js" id="editor-default-code">
    new EasyMDE({
        autoDownloadFontAwesome: false,
        element: document.getElementById('mde-demo'),
        initialValue: '# EasyMDE \nGo ahead, play around with the editor! Be sure to check out **bold**, *italic* and ~~strikethrough~~ styling, [links](https://google.com) and all the other features. You can type the Markdown syntax, use the toolbar, or use shortcuts like `ctrl-b` or `cmd-b`.'
    });
    </code></pre>
    <script>
        Function(document.getElementById('editor-default-code').innerText)();
    </script>

    <hr>

    <h2>Autosaving</h2>
    <label for="mde-autosave-demo">The editor can automatically save its contents, so changes are not lost when you reload the page.</label>
    <textarea id="mde-autosave-demo"></textarea>
    <pre><code class="js" id="editor-autosave-code">
    new EasyMDE({
        autoDownloadFontAwesome: false,
        autosave: {
            enabled: true,
            delay: 1000,
            uniqueId: 'mde-autosave-demo'
        },
        element: document.getElementById('mde-autosave-demo'),
        initialValue: '## Autosave \nThis editor automatically saves its contents every second!'
    });
    </code></pre>
    <script>
        Function(document.getElementById('editor-autosave-code').innerText)();
    </script>

    <hr>

    <h2>Toolbar customization</h2>
    <label for="mde-toolbar-demo">The editor's toolbar can be edited to show more icons and even add custom icons!</label>
    <textarea id="mde-toolbar-demo"></textarea>
    <pre><code class="js" id="editor-toolbar-code">
    new EasyMDE({
        autoDownloadFontAwesome: false,
        showIcons: ['strikethrough', 'code', 'table', 'redo', 'heading', 'undo', 'heading-bigger', 'heading-smaller', 'heading-1', 'heading-2', 'heading-3', 'clean-block', 'horizontal-rule'],
        element: document.getElementById('mde-toolbar-demo'),
        initialValue: '## Toolbar \nHere you can see all the buttons available for the toolbar.'
    });
    </code></pre>
    <script>
        Function(document.getElementById('editor-toolbar-code').innerText)();
    </script>

    <hr>

    <h2>Custom toolbar functions</h2>
    <label for="mde-custom-toolbar-demo">You can write your own functions to use in the toolbar.</label>
    <textarea id="mde-custom-toolbar-demo"></textarea>
    <pre><code class="js" id="editor-custom-code">
        new EasyMDE({
            autoDownloadFontAwesome: false,
            toolbar: [{
                name: "bold",
                action: EasyMDE.toggleBold,
                className: "fa fa-bolt",
                title: "Bold",
            }, '|', { // Separator
                name: "alert",
                action: (editor) => {
                    alert('This is from a custom button action!');
                    // Custom functions have access to the `editor` instance.
                },
                className: "fa fa-star",
                title: "A Custom Button",
            }, '|', {
                name: "link",
                action: 'https://github.com/Ionaru/easy-markdown-editor',
                className: "fa fab fa-github",
                title: "A Custom Link",
            }, '|', {
                name: "Dropdown",
                className: "fa fas fa-arrow-down",
                title: "A dropdown menu",
                children: [{
                    name: 'Left',
                    className: "fa fas fa-arrow-left",
                    action: () => alert('Left'),
                }, {
                    name: 'Right',
                    className: "fa fas fa-arrow-right",
                    action: () => alert('Right'),
                }, {
                    name: 'Up',
                    className: "fa fas fa-arrow-up",
                    action: () => alert('Up'),
                }]
            }],
            element: document.getElementById('mde-custom-toolbar-demo'),
            initialValue: '## Custom Toolbar \nCustom functions, icons and buttons can be defined for the toolbar.'
        });
    </code></pre>
    <script>
        Function(document.getElementById('editor-custom-code').innerText)();
    </script>
</div>
